@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-raleway: "Raleway", sans-serif;
  --color-dark: #1D1F22;
  --color-primary: #5ECE7B;
  --color-primary-hover: #4CAF50;
}
html {
  @apply text-[#1D1F22];
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #5ECE7B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4CAF50;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}